<!doctype html>
<html class="shopify" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <title>{{ shop.name }}</title>
  {% include 'template-redirect' %}
  {% include 'forest-stylesheet' %}
  {% include 'google-analytics' %}
  {% include 'script-tags' %}
  {{ content_for_header }}
</head>
<body class="shopify-body--{{ template | handleize }}">
  {% section 'header' %}
  <main id="application-wrapper" class="application-wrapper">
    <div class="page-content markdown">
      {{ content_for_layout }}
    </div>
  </main>
  {% section 'footer' %}
  {% include 'forest-javascript' %}
</body>
</html>
